{% extends "blog/base.html" %}

{% block content %}
    <h1 class="middletitle">LOG IN</h1>
    <br/>
    <form class = "login-or-register" method="post" action="{% url 'login' %}">
    {% csrf_token %}

        <p class = "smalllabel">UserName :
            {{ form.username }}
        </p>
        <p class = "smalllabel">PassWord : 
            {{ form.password }}
        </p>        
        <a class="login_button">
            <button type="submit" class="save btn btn-default">Login</button>
        </a>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        <p> 
            <a href="{% url 'register' %}" >
                <button type= "button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-plus-sign"></span> Not Register Yet?
                </button>
            </a>
        </p>
    {% endif %}
{% endblock %}