{% extends "blog/base.html" %}

{% block content %}
    <h1 class="middletitle">REGISTER</h1>
    <br/>
    <form class = "login-or-register" method="post" action="{% url 'register' %}">{% csrf_token %}
            <h1><font color="red">Error! Wrong Input</font></h1>
            <h2><font color="red">Try Again</font></h2>
            <br/>
        <p class = "smalllabel_wrong">UserName :
            {{ form.username }}
        </p>
        <p class = "smalllabel_wrong">E - Mail : 
            {{ form.email }}
        </p>  
        <p class = "smalllabel_wrong">PassWord : 
            {{ form.password }}
        </p>  
        <p class = "smalllabel_wrong">PassWord(AGAIN) : 
            {{ form.password_check }}
        </p>  

        <button type="submit" class="save btn btn-default">REGISTER
        </button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}