{% extends "blog/base.html" %}

{% block content %}
    <h1 class="middletitle">REGISTER</h1>
    <br/>
    <form class = "login-or-register" method="post" action="{% url 'register' %}">{% csrf_token %}

        <p class = "smalllabel">
                UserName :
            {{ form.username }}
        </p>
        <p class = "smalllabel">E - Mail : 
            {{ form.email }}
        </p>  
        <p class = "smalllabel">PassWord : 
            {{ form.password }}
        </p>  
        <p class = "smalllabel">PassWord(AGAIN) : 
            {{ form.password_check }}
        </p>  

        <button type="submit" class="save btn btn-default register_button">REGISTER
        </button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}