    <html>
        <head>
            <title>SUN's blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">SUN's Blog</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p>Very First</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>Very Second</p>
            </div>
        </body>
    </html>