
.page-header{
	background-color: #A3D6F0;
	margin-top: 0;
	padding: 20px 20px 20px 40px; 
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 56pt;
    font-family: 'Fredericka the Great';
    text-decoration: none;
}

.content {
    margin-top: 80px;
    margin-left:80px;
}

h1 , h2, h3, h4{
    font-family: 'Baloo', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited, .middletitle {
    color: #3C7896;
}
.comment {
    margin: 20px 0px 20px 20px;
}
.login_button, .register_button {
    font-family: 'Baloo';
    
}
.postauthor {
    font-family: 'Baloo';
    color: #A3D6F0;
    font-size: 12pt;
    margin-left: 20px;
}

.smalllabel {
    font-family: 'Baloo';
    color: #000000;
    font-size: 12pt;
}

.smalllabel_wrong {
    font-family: 'Baloo';
    color: #FF0000;
    font-size: 12pt;
}

.login-or-register {
    overflow: hidden;
    width: 55%;
}

input {
    float: right;
    clear: both;
}